@tailwind base;
@tailwind components;
@tailwind utilities;

.Logo {
  font-family: "Press Start 2P";
}

* {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: "Poppins", sans-serif;
}

.blueShadow {
  box-shadow: 3px 3px 0 0 #60a5fa;
}

.blueShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #60a5fa;
}

.contact-bg {
  background: linear-gradient(90deg, #334155, #1d4ed8);
}
